@font-face {
    font-family: regular;
    src: url(fonts/ReadexPro-Regular.ttf);
}
@font-face {
    font-family: medium;
    src: url(fonts/ReadexPro-Medium.ttf);
}
@font-face {
    font-family: semiBold;
    src: url(fonts//ReadexPro-SemiBold.ttf);
}
a{
    text-decoration: none;
    color: initial;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.stop-scroll{
    overflow: hidden;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.page-navigation-mobile{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    background-color: transparent;
    z-index: 2;
}
.mobile-nav-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 25px;
}
.mobile-nav-top svg{
    color: white;
    cursor: pointer;
}
.mobile-logo{
    width: 65px;
    cursor: pointer;
}



.menu-popup{
    display: none;
    flex-direction: column;
    background-color: white;
    position:absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 180px;
    padding: 20px 20px 20px 50px;
    transform: translateX(180px);
    z-index: 999;
}
.popup-dark-bg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #707070b3;
    backdrop-filter: blur(2px);
    opacity: 0;
    z-index: 899;
}

@keyframes hideBackground{
    0%{opacity: 100%;}
    100%{opacity: 0%; display:none;}
}
@keyframes showBackground{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
.show{
    animation-name: showBackground;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.hide{
    animation-name: hideBackground;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hideMenu{
    0%{transform: translateX(0px);}
    100%{display: none; transform: translateX(180px);}
}
@keyframes showMenu{
    0%{transform: translateX(180px);}
    100%{transform: translateX(0px);}
}

.showMenu{
    animation-name: showMenu;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.hideMenu{
    animation-name: hideMenu;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



.menu-popup svg{
    align-self: flex-end;
    cursor: pointer;
    z-index: 3;
}
.mobile-menu-links{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 14px;
    font-family: regular;
    margin-top: 140px;
}
.mobile-menu-links a, .language-container a{
    transition: 0.1s all;
}
.mobile-menu-links a:hover, .language-container a:hover{
    color: #e91b10;
}
.language-container{
    display: flex;
    flex-wrap: row;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}
.languge-off{
    color: #9f9f9f;
}


header{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.div-options-container{
    width: 100%;
    position: relative;
}
.header-option{
    display: flex;
    flex-direction: column;
}
.header-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%) saturate(140%) contrast(95%);
}
.hide-option{
    display: none;
}
.header-text-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    gap: clamp(4px,1.25vw,20px);
}
.option-small-text{
    font-family: medium;
    font-size: clamp(12px,3.75vw,30px);
}
.option-big-text{
    font-family: semiBold;
    font-size: clamp(30px,8.75vw,105px);
}
.dots-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 2;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
    gap: 24px;
    position: absolute;
    bottom: 0;
}
.dot{
    cursor: pointer;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: hsla(0, 0%, 88%, 0.5);
}
.bigDot{
    cursor:initial;
    height: 12px;
    width: 12px;
    background-color: white;
}
.page-navigation-desktop{
    display: none;
}

.menu-navigation::-webkit-scrollbar{
    display: none;
}
.menu-navigation{
    position: sticky;
    background-color: white;
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
    height: 64px;
    top: env(safe-area-inset-top, 0);
    border-bottom: 2px solid #D8D8D8;
    z-index: 1;
}
.inner-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0px 0px 0px 30px;
    min-width: 700px;
    gap: 50px;
}
.inner-menu div{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-link{
    text-align: center;
    width: fit-content;
    font-family: regular;
    font-size:14px;
    transition:  all 0.1s;
}
.menu-link:hover{
    color: #D7180E;
}
.link-over{
    border-bottom: 2px solid #CA1C11;
}

.foodsAndTitle-container{
    display: flex;
    flex-direction: column;
    padding: clamp(60px, 8vw ,160px) 20px;
    /*border: 2px solid blue;*/
    gap: 30px;
    width: 100%;
}
.foods-title{
    font-size: clamp(40px,8vw,48px);
    font-family: semiBold;
}
.foods-grid-container{
    display: grid;
    width: 100%;
    /*border: 2px solid red;*/
    grid-template-columns: repeat(auto-fit,minmax(330px, 1fr));
    gap: 20px;
}
.food-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 26px 30px 0px;
    /*border: 2px solid orange;*/
    border-radius: 20px;
    box-shadow: 0px 0px 24px -2px hsla(0, 0%, 58%, 0.25);

}
.food-image{
    width: 114px;
    height: auto;
}
.food-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.nameAndWeight{
    display: flex;
    flex-direction: column;
    gap:2px;
}
.food-name{
    font-family: regular;
    font-size: 16px;
    width: 130px;
    font-weight: 500;
}
.food-weight{
    font-family: regular;
    font-size: 14px;
    color: #727272;
}
.food-options{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.individual-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.option{
    font-family: regular;
    font-size: 14px;
    color: #727272;
}
.food-price{
    font-family: semiBold;
    font-size: 16px;
}
.addButton{
    background-color: white;
    color:#159735;
    border: 2px solid #159735;
    font-family: medium;
    font-size: 16px;
    width: 169px;
    height: 36px;
    border-radius: 10px;
    transition: all 0.1s;
    cursor: pointer;
}
.addButton:hover{
    color: white;
    background-color: #159735;
    border-radius: 20px;
}


@media screen and (min-width:1100px){

    .page-navigation-desktop{
        display: flex;
        position: sticky;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        flex-direction: row;
        padding: 15px 40px 18px 40px;
        background-color: white;
        justify-content: space-between;
        align-items: end;
        height: 112px;
        border-bottom: 2px solid #D8D8D8;
    }
    .dektop-row{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .page-navigation-mobile{
        display: none;
    }
    .dekstop-logo{
        max-height: 80px;
        max-width: 138px;
        position: absolute;
        left: 50%;
        top: 50%;
        cursor: pointer;
        transform: translate(-50%, -55%);
    }
    .desktop-menus{
        display: flex;
        flex-direction: row;
        gap: 48px;
        font-size: 14px;
        font-family: regular;
    }
    .desktop-menus a, .desktop-languages a{
        transition: 0.1s all;
    }
    .desktop-menus a:hover, .desktop-languages a:hover{
        color: #e91b10;
    }
    .dektop-right-side-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
    .desktop-languages{
        display: flex;
        flex-direction: row;
        gap: 15px;
        font-size: 18px;
        font-family: regular;
    }
    .dektop-basket-button{
        width: 130px;
        height: 34px;
        background-color: #D7180E;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 24px 0px 20px;
        border-radius: 35px;
        transition: all 0.1s;
    }
    .basket-total{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }
    .lei, .basket-number{
        font-family: medium;
        font-size: 16px;
    }
    .dektop-basket-button:hover{
        background-color: #e91b10;
    }
    .dot{
        cursor: pointer;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: hsla(0, 0%, 88%, 0.5);
    }
    .bigDot{
        cursor:initial;
        height: 14px;
        width: 14px;
        background-color: white;
    }
    .dots-container{
        margin-bottom: 30px;
        gap: 35px;
    }
    


    header{
        height: 100vh;
        overflow: hidden;
        z-index: 99;
        margin-top: -112px;
    }
    .div-options-container{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .header-option{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .header-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(40%) saturate(140%) contrast(95%);
    }

    
    .menu-navigation::-webkit-scrollbar{
        display: none;
    }
    .menu-navigation{
        position: sticky;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: end;
        overflow-x:scroll;
        height: 182px;
        top: env(safe-area-inset-top, 0);
        border-bottom: 2px solid #D8D8D8;
        z-index: 98;
        margin-top: -112px;
    }
    .inner-menu{
        display: flex;
        flex-direction: row;
        align-items:end;
        height: 70px;
        padding: 0px 0px 0px 40px;
        min-width: 700px;
        gap: 50px;
        z-index: 99;
        
    }
    .inner-menu div{
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .menu-link{
        text-align: center;
        width: fit-content;
        font-family: regular;
        font-size:14px;
    }
    .link-over{
        border-bottom: 2px solid #CA1C11;
    }


    .foodsAndTitle-container{
        gap: 50px;
        padding: clamp(60px, 8vw ,160px) 40px;
    }
    .foods-grid-container{
        display: grid;
        width: 100%;
        /*border: 2px solid red;*/
        grid-template-columns: repeat(auto-fit,minmax(330px, 1fr));
        gap: 30px;
    }
    .food-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 30px 26px 30px 0px;
        /*border: 2px solid orange;*/
        border-radius: 20px;
        box-shadow: 0px 0px 24px -2px hsla(0, 0%, 58%, 0.25);
    
    }
    .food-image{
        width: 114px;
        height: auto;
    }
    .food-text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .nameAndWeight{
        display: flex;
        flex-direction: column;
        gap:2px;
    }
    .food-name{
        font-family: regular;
        font-size: 16px;
        width: 130px;
        font-weight: 500;
    }
    .food-weight{
        font-family: regular;
        font-size: 14px;
        color: #727272;
    }
    .food-options{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .individual-option{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    .option{
        font-family: regular;
        font-size: 14px;
        color: #727272;
    }
    .food-price{
        font-family: semiBold;
        font-size: 16px;
    }
    .addButton{
        font-family: medium;
        font-size: 16px;
        width: 169px;
        height: 36px;
        border-radius: 10px;
    }
}