@font-face {
    font-family: regular;
    src: url(fonts/ReadexPro-Regular.ttf);
}
@font-face {
    font-family: medium;
    src: url(fonts/ReadexPro-Medium.ttf);
}
@font-face {
    font-family: semiBold;
    src: url(fonts//ReadexPro-SemiBold.ttf);
}
a{
    text-decoration: none;
    color: initial;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-navigation-mobile{
    position: relative;
    top: 0;
    display: flex;
    width: 100%;
    background-color: black;
}
.mobile-nav-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 25px;
}
.mobile-nav-top svg{
    color: white;
}
.mobile-logo{
    width: 70px;
}
.menu-popup{
    display: flex;
    flex-direction: column;
    background-color: white;
    position:absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 180px;
    padding: 20px 20px 20px 50px;
}
.menu-popup svg{
    align-self: flex-end;
}
.mobile-menu-links{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 14px;
    font-family: regular;
    margin-top: 140px;
}
.language-container{
    display: flex;
    flex-wrap: row;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}
.languge-off{
    color: #9f9f9f;
}
.popup-dark-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 10%, 0.7);
}